@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: sans-serif;
}

:root {
  --primary-color: theme('colors.blue.600');
  --secondary-color: theme('colors.gray.600');
  --accent-color: theme('colors.purple.600');
}

body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #f9fafb;
}